.tour-container {
  padding-top: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.tour-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.2rem 1.5rem;

  &-text {
    h3 {
      font-size: 3rem;
    }

    margin-right: 2rem;
  }
}

.tour-users{
  display: flex;
  justify-content: flex-end;
}

.add-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

//.user-tag {
  // display: inline-flex;
  // align-items: flex-end;

  // padding: 0.2rem 0.5rem;
  // border-radius: 5px;
  // background-color: $lightred;

  // p {
  //   margin: 0 0.2rem;
  // }
//}

.user-tag {
  position: relative;

  a {
    position: absolute;
    top: -6px;
    right: -3px;
    display: none;
  }
}

.user-tag:hover a {
  display: block;
  color: $red;
}

.user-avatars {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sites-container {
  display: flex;
  flex-direction: column;
  padding-top: 2rem 0;
  margin-right: 0.5rem;
  width: 20%;
  height: 700px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  transition: all 0.5s ease-out;
}

.sites-container.hide {
  transition: all 0.5s ease-out;
  width: 0;
  opacity: 0;
  overflow: hidden;
}

.sites-container::-webkit-scrollbar {
  width: 0 !important;
}

.tour-map {
  width: 100%;
  height: 700px;
  overflow-y: scroll;
  flex-grow: 1;
  border-radius: 10px;
}

.site-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}

.site-card {
  padding: 0.8rem 1.2rem;
  width: 100%;
  margin: 0.2rem 0;
  border-radius: 10px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: white;
  // border-bottom: 1px solid lightgray;
}

.site-card h4 {
  cursor: pointer;
}

.site-card-info {
  transition: all 0.5s ease-out;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.site-card:hover .site-card-info {
  height: auto;
  opacity: 1;
}

.site-card.highlight {
  background-color: $lightgreen;
}

.info-btn {
  display: inline-block;
  margin-right: 8px;
}

.btn-site {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  border: none;
  background-color: $lightgreen;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;
  border-radius: 50%;
}

.btn-site.red {
  background-color: $lightred;
}

.btn-new-user {
  display: inline-block;
  background-color: $darkgreen;
  // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  text-align: center;
  padding-top: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;


  .fa-user-plus {
    color: white;
  }
}

.btn-new-user:hover {
  background-color: $lightgreen;
  transition: all 0.2s;

  .fa-user-plus {
    color: $button-text-dark;
  }

}
