<div class="banner" >

    <h1>My Stoury</h1>

</div>

<div class="container">
  <%= render '/shared/search'%>
  <br>

  <%= link_to "Create a tour", new_tour_path, class: "button"%>
  <br>
  


  <%= link_to "See all tours", tours_path, class: "button" %>
</div>
