<div class="banner" >

  <h1>My Stoury</h1>
  <%= render '/shared/search'%>
  <div class="banner-buttons">
    <%= link_to "Create a tour", new_tour_path, class: "button"%>
    <%= link_to "See all tours", tours_path, class: "button" %>
  </div>

</div>
