.button {

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
border-radius: 50px;
background: #ADE8CA;
color:#250C09;
width: 160px;
text-align: center;
font-size: 16px;
}
