.card-trip {
  overflow: hidden;
  background: white;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.5s;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.card-trip h2 {
  font-family: $body-font;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin: 0;
  border-radius: 5px;
}

.card-trip p {
  font-family: $body-font;
  font-size: 16px;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-note {
  background-color: white;
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card-note-container {
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-stat;
  // flex-wrap: wrap;
}

.travel-card {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  max-width: 20rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);

  &-header {
    height: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.1);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &-info {
    margin-top: 1rem;

    h3 {
      margin: 0;
    }
  }
}

.travel-card-text {
  margin-top: 8px;
}

.travel-card-text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.travel-card-links {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.travel-card:hover {

  .travel-card-text {
    color: $red;
  }
}

.buffer {
  background-color: white;
  height: 30px;
}



// .travel-card-container {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   overflow: auto;
// }


// .img-gray-scale {
//   filter: gray; /* IE6-9 */
//   -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
//   filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
// }

// /* Disable grayscale on hover */
// .card-trip:hover .img-gray-scale {
//   -webkit-filter: grayscale(0);
//   filter: none;
// }

// /* Make cards bigger on hover */
// .card-trip:hover {
//   transform: scale(1.02);
// }
