.message-receiver, .message-sender {
  margin-bottom: 12px;
  padding: 6px;
  width: 180px;
}

.message-sender {
  background-color: $darkgreen;
  border-radius: 10px 10px 0 10px;
  color: white;
}

.message-receiver {
  background-color: $lightgreen;
  border-radius: 10px 10px 10px 0;
}

.p-form {
  margin: 0;
}
