.modal-add-user {
  height: 150px;
}

#modal-home {
  font-family: $headers-font;
  text-shadow: none;
  color: black;
}

.modal-content {
  background-color: $lightgreen;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(133, 131, 131);
}

.form:hover {
  border: 1px solid $darkgreen;
  box-shadow: 3px 3px 6px $darkgreen;
}
