.search-button {
  background: #EC5B4C !important;
  padding: 0px 32px ;
  border-radius: 16px;
  border: solid 1px #EC5B4C;
  border-radius: 0px 50px 50px 0px;
}
.form-control {
  padding: 16px 16px 16px 40px;
  background: #F6F3F3;
  border-radius: 50px 0px 0px 50px;
  height: 45px;
  display: flex;
  flex-grow: 0px;

}
.form-box {
  max-width: 640px;
  display: flex;

}
